<div class="rentalspace-block">
  <div class="block-inner">
    <div class="space-info">
      <dl>
        <dt>capacity</dt>
        <dd>~{{ spaceDetails.capacity }}人</dd>
        <dt>room size</dt>
        <dd>{{ spaceDetails.roomSize }}㎡</dd>
        <dt>address</dt>
        <dd>{{ spaceDetails.address | linebreaker }}</dd>
        <dt>tell</dt>
        <dd>{{ spaceDetails.tell }}</dd>
        <dt>hour</dt>
        <dd>{{ spaceDetails.startTime }}~{{ spaceDetails.endTime }}</dd>
        <dt>near station</dt>
        <dd>{{ spaceDetails.nearStation }}</dd>
      </dl>
    </div>
    <div class="reserve" id="js-reserve">
      <div class="calendar" id="js-cal-frame">
        <div id="prev" class="prev-btn no-active"><</div>
        <div id="next" class="next-btn">></div>
        <div id="js-calendar"></div>
      </div>
      <div class="form-wrap">
        <form action="/reserve" method="post">
          <div class="select">
            <i class="fas fa-calendar-alt"></i>
            <i class="far fa-clock"></i>
            <!--<a href="#js-reserve">-->
              <input id="js-date" class="selected-date" type="text" name="date" readonly>
            <!--</a>-->
            <div class="select-wrap" id="js-selected-days">
              <select id="js-days" name="days">
                <option value="1">1日間</option>
                <option value="2">2日間</option>
                <option value="3">3日間</option>
                <option value="4">4日間</option>
                <option value="5">5日間</option>
                <option value="6">6日間</option>
                <option value="7">7日間</option>
                <option value="8">8日間</option>
                <option value="9">9日間</option>
              </select>
            </div>
          </div>
          <div class="btn-wrap">
            <button class="reserve-btn" type="submit" >予約確認</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
