{% extends "customer/layout.html" %}
{% block content %}
<div class="register-back">
  <h2>Register</h2>
    <div class="register-wrap">
      <form action="/register" method="post" class="register-form">
        {% if errMsg %}
          <p class="err-msg">{{ errMsg }}</p>
        {% endif %}
        <div class="register-input-parallel parallel-left">
          <input type="text" name="firstName" required="required" aria-label="first name" placeholder="Ex) レンタル">
          <label>first name</label>
        </div>
        <div class="register-input-parallel">
          <input type="text" name="lastName" required="required" aria-label="last name" placeholder="Ex) 太郎">
          <label>last name</label>
        </div>
        <div class="register-input">
          <input type="text" name="company" required="required" aria-label="company" placeholder="Ex) 〇〇株式会社">
          <label>company</label>
        </div>
        <div class="register-input">
          <input type="tel" name="phone" required="required" aria-label="phone number" placeholder="Ex) 000-0000-0000" pattern="\d{1,5}-\d{1,4}-\d{4,5}">
          <label>phone number</label>
        </div>
        <div class="register-input">
          <input type="email" name="usermail" required="required" aria-label="mail address" placeholder="Ex) sample@sample.com">
          <label>mail address</label>
        </div>
        <div class="register-input">
          <input type="password" name="userpass" id="passwd" required="required" aria-label="password" onkeyup="setPassMessage(this.value);">
          <label>password</label>
          <p id="pass-msg"></p>
        </div>
        <div class="register-input">
          <input type="password" name="confirm-pass" id="conf-pass" required="required" aria-label="confirm-pass" onkeyup="setConfMessage(this.value);">
          <label>confirm password</label>
          <p id="comf-msg"></p>
        </div>
        <button type="submit" id="register-btn">get a code</button>
        <p id="validate-msg"></p>
      </form>
    </div>
</div>
<script src="{{ url_for('customer.static', filename='js/passwordchecker.js') }}"></script>
<script src="{{ url_for('customer.static', filename='js/auth.js') }}"></script>
{% endblock %}
