.no-active {
  display: none;
}
.prev-btn {
  position: absolute;
  padding: 0 8px;
  top: 12px;
  left: 20px;
  color: #aaa;
  border: solid thin #aaa;
  border-radius: 4px;
  cursor: pointer;
}
.next-btn {
  position: absolute;
  padding: 0 8px;
  top: 12px;
  right: 20px;
  color: #aaa;
  border: solid thin #aaa;
  border-radius: 4px;
  cursor: pointer;
}

.calendar h1 { /* 年月 */
  font-size: 18px;
  text-align: center;
}

.calendar table {
  /* border-spacing: 0;
  border-collapse: collapse; */
  margin: 0 auto 20px auto;
}

.calendar td {
  background: #fff;
}
.calendar td div{
  margin: 2px;
  padding: 0;
  text-align: center;
  font-size: 14px;
  border-radius: 3px;
  width: 36px;
}
.calendar td.day div{
  height: 38px;
}
.calendar td.usable div{
  cursor: pointer;
  position: relative;
}
.calendar td.usable div::after{ /* ◯ */
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid #af9b65;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: calc(50% - 6px);
  top: calc(50% + 4px);
}
.calendar td.disable div{
  position: relative;
  opacity: 0.4;
}
.calendar td.disable div::after{ /* - */
  content: "";
  display: block;
  position: absolute;
  top: 75%;
  left: 35%;
  width: 30%;
  height: 2px;
  background-color: #af9b65;
}
.calendar td.past div{
  opacity: 0.4;
  background: #ddd;
}


.calendar td:first-child { /* 日曜日 */
  color: red;
}

.calendar td:last-child { /* 土曜日 */
  color: royalblue;
}
