.confirm-back {
  padding: 20px 0;
  background: linear-gradient(to bottom, #eee, #fff);
}
.confirm-back h2 {
  text-align: center;
}
.confirm-wrap {
  margin: 40px auto;
  padding-bottom: 40px;
  width: 600px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 -2px 1px 0.5px #eee;
}

.reserve-contents img {
  width: calc(100% - 50px);
  margin: 0 auto;
  padding: 25px;
}
.reserve-contents dl {
  width: calc(100% - 50px);
  margin: 0 auto;
  padding: 0 25px 40px 25px;
}
.reserve-contents dt {
  border-top: solid thin #eee;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 300;
  color: #a2a1a0;
}
.reserve-contents dd {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
  color: #222;
}
.reserve-contents p {
  margin-top: -30px;
  font-size: 14px;
  font-weight: 100;
  color: #888;
  text-align: right;
}

.confirm-btn {
  display: block;
  margin: 0 auto 40px auto;
  width: calc(100% - 100px);
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  text-indent: 15px;
  letter-spacing: 0.2rem;
  /* background: #af9b65; */
  /* background: #9e8a54; */
  background: #4d4b49;
  outline: 0;
  cursor: pointer;
}
.confirm-btn a {
  display: block;
  text-decoration: none;
  color: #fff;
}
.confirm-btn:hover {
  /* background: #8d7943; */
  background: #3c3a38;
}
