.reserve-comp {
  width: calc(100% - 40px);
  padding: 20px;
  background: #4d4b49;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.reserve-comp i {
  padding: 15px;
  font-size: 22px;
}
.reserve-comp p {
  margin-top: 0;
}
.reserve-comp h3 {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 700;
}
.reserve-comp span {
  margin-top: 30px;
  font-size: 12px;
}
.reserve-comp span a{
  text-decoration: none;
  color: #fff;
}
.reserve-comp span a:hover{
  text-decoration: underline;
}

.reserve-contents h2 {
  margin: 50px auto 20px auto;
  text-align: center;
  font-size: 18px;
  color: #444;
}
