{% extends "layout.html" %}
{% block content %}
<div class="login-back">
  <h2>Login</h2>
  <div class="login-wrap">
    <!-- <p>メールアドレスとパスワードを入力</p> -->
    <form action="/login" method="post" class="login-form">
      <div class="login-input">
        <!-- <input type="email" name="usermail" required="required" placeholder="mail address" aria-label="mail address"> -->
        <input type="email" name="usermail" required="required" aria-label="mail address">
        <label>mail address</label>
      </div>
      <div class="login-input">
        <!-- <input type="password" name="userpass" required="required" placeholder="password" aria-label="password"> -->
        <input type="password" name="userpass" required="required" aria-label="password">
        <label>password</label>
      </div>
      <button type="submit" >login</button>
      <a href="/register">会員登録はこちら</a>
    </form>
  </div>
</div>
{% endblock %}
