{% extends "layout.html" %}
{% block content %}
<div class="register-back">
  <h2>Register</h2>
  {% if validation %}
    <div class="register-wrap">
      <form action="/register" method="post" class="register-form">
        <div class="register-input">
          <input type="text" name="code" required="required" aria-label="code">
          <label>code</label>
        <button type="submit" >register</button>
      </form>
    </div>
  {% else %}
    <div class="register-wrap">
      <form action="/register" method="post" class="register-form">
        <div class="register-input">
          <input type="email" name="usermail" required="required" aria-label="mail address">
          <label>mail address</label>
        </div>
        <div class="register-input">
          <input type="password" name="userpass" required="required" aria-label="password">
          <label>password</label>
        </div>
        <div class="register-input">
          <input type="password" name="confirm-pass" required="required" aria-label="confirm-pass">
          <label>confirm password</label>
        </div>
        <button type="submit" >get a code</button>
      </form>
    </div>
  {% endif %}
</div>
{% endblock %}
