{% extends "layout.html" %}
{% block content %}
<h1 class="space-title">SPACE A</h1>
<div class="img-slider">
  <img src="{{ url_for('static', filename='img/space_a.jpg') }}" alt="">
  <img src="{{ url_for('static', filename='img/space_b.jpg') }}" alt="">
  <img src="{{ url_for('static', filename='img/space_c.jpg') }}" alt="">
  <img src="{{ url_for('static', filename='img/space_d.jpg') }}" alt="">
</div>
<div class="space-comment-area">
  <p>恵比寿本店は、恵比寿駅から徒歩4分・代官山駅から徒歩5分の位置にあります。<br>
財布や鞄、その他革小物雑貨まで、取り扱っている商品が多い店舗です。またネックレスや指輪、時計などといった他の店舗にはない商品もいくつかあります。<br>
さらにここでしか手に入らない恵比寿本店限定の財布も要チェックです。<br>
木や植物に囲まれた内装により、とても落ち着く空間です。<br>
男性、女性へのプレゼント探しや商品のお手入れなどにもぜひお越しください！</p>
</div>
<div class="nav">
  <ul>
    <li><a href="/details/space-a"></a>details</li>
    <li><a href="/details/space-a/equipment"></a>equipment</li>
    <li><a href="/details/space-a/budget-plan"></a>budget plan</li>
    <li><a href="/details/space-a/review"></a>review</li>
  </ul>
</div>
<div class="details-block">
  <div class="block-inner">
    <div class="space-info">
      <dl>
        <dt>capacity</dt>
        <dd>~30人</dd>
        <dt>room size</dt>
        <dd>40㎡</dd>
        <dt>address</dt>
        <dd>〒XXX-XXX<br>
           東京都渋谷区恵比寿 X-XX-XX<br>
           XXX 1F</dd>
        <dt>tell</dt>
        <dd>03-XXXX-XXXX</dd>
        <dt>hour</dt>
        <dd>10:00~22:00</dd>
        <dt>near station</dt>
        <dd>JR恵比寿駅</dd>
      </dl>
    </div>
    <div class="reserve" id="js-reserve">
      <div class="calendar" id="js-cal-frame">
        <div id="prev" class="prev-btn no-active"><</div>
        <div id="next" class="next-btn">></div>
        <div id="js-calendar"></div>
      </div>
      <div class="form-wrap">
        <form action="/reserve/space-a" method="post">
          <div class="select">
            <i class="fas fa-calendar-alt"></i>
            <i class="far fa-clock"></i>
            <!--<a href="#js-reserve">-->
              <input id="js-date" class="selected-date" type="text" name="date" readonly>
            <!--</a>-->
            <div class="select-wrap" id="js-selected-days">
              <select id="js-days" name="days">
                <option value="1">1日間</option>
                <option value="2">2日間</option>
                <option value="3">3日間</option>
                <option value="4">4日間</option>
                <option value="5">5日間</option>
                <option value="6">6日間</option>
                <option value="7">7日間</option>
                <option value="8">8日間</option>
                <option value="9">9日間</option>
              </select>
            </div>
          </div>
          <div class="btn-wrap">
            <button class="reserve-btn" type="submit" >予約確認</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="column">
  <h3>column</h3>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script src="{{ url_for('static', filename='js/details.js') }}"></script>
{% endblock %}
